<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
  <div><img width="300" src="../assets/high.jpg"></div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary">Get photo</button>
      <button class="btn btn-success">Get GPS Location</button>
      <button class="btn btn-info">Get Contacts</button>
      <div class="area">
        ssss
      </div>
    </div>
ssssxx
  </div>
</div>

