<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
  <div><img width="300" src="../assets/high.jpg"></div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="getPhoto()">Get photo</button>
      <button class="btn btn-success" (click)="getLocation()">Get GPS Location</button>
      <button class="btn btn-info" (click)="getContacs()">Get Contacts</button>
      <p>Time: {{ date }}</p>
      <div class="area">
        <div *ngIf="isLocation">
          <agm-map [latitude]="location.latitude" [longitude]="location.longitude">
            <agm-marker [latitude]="location.latitude" [longitude]="location.longitude"></agm-marker>
          </agm-map>
        </div>
        <div *ngIf="isImage">
          <img width="100%" [src]="imageData">
        </div>
        <div *ngIf="isContacs">
          <h3>Contacs</h3>
          <div *ngFor="let contact of contacs">
            Name: {{contact.name}}, Phone: {{contact.phone}}
          </div>
        </div>
      </div>
    </div>
ssssxx
  </div>
</div>

